%h1 Confirmed gifts

- if @confirmed and !@confirmed.empty?
  .info These are gifts which people have confirmed their intention of purchasing.
  %br

  - @confirmed.each do |gift|
    .box
      %a{:href => "/gift/#{gift.id}/edit", :style => "float: right;"}= "edit"
      %h2= gift.name
      .description= gift.description
      .info
        - if gift.intention
          ="Confirmed by #{gift.intention.name} (#{gift.intention.email}) on #{gift.intention.created_at.strftime("%d %b, %Y %H:%M:%S (UTC)")}"
        - else
          ="Not confirmed properly..."
- else
  %p Nobody has confirmed that they are going to purchase any gifts yet. :(