%h1= "Thanks, #{@gift.intention.name}!"
.info You've successfully finalised your intention of purchasing the following gift.
%br
.box
  %h2= @gift.name
  .description= @gift.description
%br
%h3
  You can confirm your intention of purchasing another
  %a{:href => '/'}= "gift"
  =":)"