!!!
%html
  %head
    %title= @title || SiteConfig.title
    %link{:href => '/main.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"}
  %body
    #container
      #header
        %h1
          %a{:href => '/'}= "john and sally's gifts thingamajig"
      - if has_auth?
        #admin-tools
          %a{:href => '/gift/new'}= "Add gift"
          |
          %a{:href => '/confirmed'}= "Confirmed gifts"
      #content= yield
      #footer
        some sort of gifts thingamajig... 
        - if !has_auth?
          %a{:href => '/login'}= "login"
        - else
          %a{:href => '/logout'}= "logout"